<!DOCTYPE html>
<html ng-app="FormApp">
  <head>
    <title>form-01 | Angular.cz</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="container" ng-controller="UserDetailController as detail">
    <div class="row">
      <div class="col-md-4">
        <!-- TODO 2.1 přiřaďte formulář do scope (controlleru) -->
        <!-- TODO 5 odeslání formuláře -->
        <form>
          <fieldset >
            <legend>Edit user</legend>
            <div class="form-group">
              <label for="name" >Your Full Name*: </label>
              <input class="form-control"
                     type="text" name="name" id="name" ng-model="detail.user.name"
                     required/>
              <!-- TODO 2.2 zajistěte správné zobrazení hlášek pro jméno uživatele -->
              <!-- TODO 2.4 zajistěte user-friendly chování -->
              <div class="text-danger"> 
                You did not enter a name
              </div>
            </div>
            <div class="form-group">
              <label for="email" >Email Address*:</label>
              <input class="form-control"
                     type="email" name="email" id="email" ng-model="detail.user.email"
                     required/>
              <!-- TODO 2.3 zajistěte správné zobrazení hlášek pro email -->
              <!-- TODO 2.4 zajistěte user-friendly chování -->
              <div class="text-danger">  
                <div>You did not enter a email</div>
                <div>Your email is not valid</div>
              </div>
            </div>
            <div class="form-group">
              <label for="phone">Phone Number</label>
              <!-- TODO 3.2 použijte validátor a zobrazujte chybovou zprávu dle výsledku validace -->
              <input class="form-control"
                     type="text" name="phone" id="phone" ng-model="detail.user.phone" />
              <div class="text-danger">
                Use format +420 123 456 789
              </div>
            </div>
            <fieldset >
              <legend>Address</legend>
              <div class="form-group">
                <label for="city" >City*: </label>
                <!-- TODO 4 propagace položky City až po opuštění pole -->
                <input class="form-control"
                       type="text" id="city" ng-model="detail.user.address.city"
                       required />
              </div>
              <div class="form-group">
                <label for="street" >Street: </label>
                <input class="form-control"
                       type="text" id="street" ng-model="detail.user.address.street" />
              </div>
              <div class="form-group">
                <label for="postalCode" >Postal code: </label>
                <input class="form-control"
                       type="text" id="postalCode" ng-model="detail.user.address.postalCode" />
              </div>
            </fieldset>

            <button type="submit" class="btn btn-primary">Save</button>
            <!-- TODO 6.1 další tlačítka a akce -->
            <!-- TODO 6.2 další tlačítka a akce -->
            <button type="button" class="btn btn-warning">Reset</button>
            <button type="button" class="btn btn-danger">Clear Storage</button>
          </fieldset>
        </form> 

      </div>
      <div class="col-md-5 col-md-offset-1">
        <pre>
this.user
{{detail.user|json}}

storage:
{{detail.userStorage.get() | json}}
        </pre>
      </div>
    </div>

    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/bower_components/ngstorage/ngStorage.js"></script>

    <script src="app.js"></script>
  </body>
</html>
