<div class="orders">
  <h3>Objednávky</h3>                        
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Zákazník</th>
        <th>Email</th>      
        <th>Stav</th>
        <th>Akce</th>
      </tr>     
    </thead>
    <tbody>
      <tr ng-repeat="order in list.orders" class="status-{{order.status}}">
        <td ng-bind="order.id"></td>
        <td ng-bind="order.name"></td>
        <td>
          {{order.email}}
        </td>  
        <td>
          {{list.statuses[order.status]}}
        </td>
        <td>          
          <a ng-href="#/detail/{{order.id}}">Detail</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>