<h1>Vítejte</h1>

<div auth-is-anonymous>
  <div class="alert alert-warning">
    Musíte se přihlásit
  </div>
  <button class="btn btn-info" ng-click="home.showLoginModal()">Přihlásit</button>
</div>